body {
    background-color: #4169E1;
    margin: 0;
    padding: 40px;
}


.editInterface {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 15px;
    align-items: center;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
}

.editPopup {
    display: flex;
    justify-content: center;
}

.editInterface > input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.saveButton {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    color: white;
    font-weight: bolder;
}

.saveButton:hover {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:#e5e4e2;
    font-size: 20px;
    position: relative;
    height: 100px;
}

.schoolName {
    font-size: larger;
    font-weight: bolder;
}

.sectionHeader {
    background-color: #e5e4e2;
    padding: 5px;
    display: flex;
    padding-top: 15px;
    padding-left: 8px;
}

.job {
    display: flex;
    background-color:#e7e7e7;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.job:hover .dataButtons > button {
    display: inline-block;
}

.job:hover {
    cursor: pointer;
}

.sectionAddButton {
    margin-left: 15px;
    border-radius: 1rem;
    border: none;
    background-color: tomato;
    color: white;
    padding: 10px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sectionAddButton:hover, .dataButtons > button:hover {
    cursor: pointer;
}

.dataButtons > button {
    border-radius: 1rem;
    margin-left: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 9px;
    display: none;
}

.dataButtons {
    display: flex;
}

.jobButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    padding: 0;
    margin: 0;
}

.education {
    padding: 10px;
    position: relative;
}

.companyName {
    font-size: larger;
    font-weight: bolder;
}

.education > div {
    padding-left: 10px;
}

.name {
    font-size: 35px;
}

.header > div:nth-child(2) {
    display: flex;
    gap: 20px;
}


.editButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    width: 50px;
}

.sectionEditButton {
    height: 25px;
}

.editButton.section {
    position: absolute;
    top: 20%;
    right: 2%;
}

.editButton:hover {
    cursor: pointer;
}