.editInterface {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 15px;
    align-items: center;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
}

.editPopup {
    display: flex;
    justify-content: center;
}

.editInterface > input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.saveButton {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    color: white;
    font-weight: bolder;
}

.saveButton:hover {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:#e5e4e2;
    font-size: 20px;
    position: relative;
    height: 100px;
}

.schoolName {
    font-size: larger;
    font-weight: bolder;
}

.sectionHeader, .experienceHeader {
    background-color: #e5e4e2;
    padding: 5px;
    display: flex;
    margin-top: 5px;
}

.job {
    display: flex;
    gap: 25px;

}

.jobButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    padding: 0;
    margin: 0;
}

.education {
    padding: 10px;
    position: relative;
}

.companyName {
    font-size: larger;
    font-weight: bolder;
}

.education > div {
    padding-left: 10px;
}

.name {
    font-size: 35px;
}

.header > div:nth-child(2) {
    display: flex;
    gap: 20px;
}


.editButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    width: 50px;
}

.sectionEditButton {
    height: 25px;
}

.editButton.section {
    position: absolute;
    top: 20%;
    right: 2%;
}

.editButton:hover {
    cursor: pointer;
}